<div>
    <nav class="nav-sidebar side">
        <ul class="nav" style="border-top:1px solid #ddd">
            <li class="nav-divider"></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['products']">Productos</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['categories']">Categorías</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['users']">Usuarios</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a (click) = "onLogout()">
                    <i class="glyphicon glyphicon-off"></i> Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</div>