<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div *ngFor="let product of products" class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{product.image}}
            data-holder-rendered="true">
          <div class="card-body small-desc">
            <p class="card-text">
              <a [routerLink]="['detail',product._id]">
                {{product.name}}
              </a>
            </p>
            <p class="card-text"> {{product.description}}</p>

            <div class="d-flex justify-content-between align-items-center price">
              <small class="text-muted">{{product.price}}</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>