<div class="nav-scroller py-1 mb-2 container-cards-nav">
  <nav *ngFor="let category of categories" class="nav d-flex justify-content-between card-nav">
    <a class="p-2 text-muted" [routerLink]="['category',category._id]">{{category.name}}</a>
  </nav>
</div>