<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img id="imageLogin" class="half-screen" src="https://globbpartner.com/wp-content/uploads/2018/02/guide_tips_ecommerce_platform.png"
        alt="Image Ecommerce">
    </div>
    <div class="col">
      <form class="form-signin center" (submit)="onLoadAdmin($event)">
        <h1 class="h3 mb-3 font-weight-normal title">Bienvenido</h1>
        <label for="inputUser" class="sr-only">Usuario</label>
        <input type="text" id="inputUser" class="form-control space-input" placeholder="Usuario" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control space-input" placeholder="Contraseña" required="">

        <button type="submit" class="btn btn-lg btn-primary btn-block button-login">Entrar</button>
      </form>
    </div>
  </div>
</div>