.half-screen{
    width: 50vw;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.title{
    margin-bottom: 28px !important;
    font-weight: bold !important;
}

.space-input{
    margin-bottom: 15px;
}

.button-login{
    width: 30%;
    margin-left: 70%;
}