<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Administrador Ecommerce
  </span>
</nav>

<div class="container-light">
  <div class="row">
    <div class="col col-md-3">
        <app-sidebar style="display:inline-block"></app-sidebar>
    </div>
    <div class="col col-md-9">
        <router-outlet></router-outlet>
    </div>
  </div>


</div>
