
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img id="logoImg" alt="Logo SONR" src="https://sonr.digital/img/sonr/logosonrfinal2.png">
  </a>
  <div class="container-right-menu">
    <button type="button" (click) = "onLoadLogin()" class="btn btn-default navbar-btn btt-admin">Administrador</button>
    <form class="form-inline">
      <input type="text" class="form-control mr-sm-2 filter-header" placeholder="Search">
    </form>
  </div>
</nav>