.container-det{
    padding: 15px 20px;
}

.size-normal{
    font-size: 14px;
}

.title-prod{
    font-size: 20px;
    font-weight: bold;
}

.cat-prod{
    font-weight: normal;
    position: absolute;
    right: 138px;
}