<div class="row featurette container-det">
  <div class="col-md-6 order-md-2">
    <h2 class="featurette-heading title-prod">{{product.name}}
      <span class="text-muted cat-prod">{{product.category_name}}</span>
      
    </h2>
    <p class="size-normal">Precio: S/ {{product.price}}</p>
    <p class="lead size-normal">{{product.description}}</p>
  </div>
  <div class="col-md-6 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src={{product.image}} alt="500x500" data-holder-rendered="true" >
  </div>
</div>