<div  class="col-md-3">
    <div class="card mb-3 box-shadow">
      <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="..." data-holder-rendered="true">
      <div class="card-body">
          <p class="card-text"> {{product.name}}</p>
        <p class="card-text"> {{product.description}}</p>

        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">{{product.price}}</small>
        </div>
      </div>
    </div>
  </div>


  <!-- <div  class="col-md-3">
      <div class="card mb-3 box-shadow">
        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="..." data-holder-rendered="true">
        <div class="card-body">
            <p class="card-text"> {{product.name}}</p>
          <p class="card-text"> {{product.description}}</p>
  
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{product.price}}</small>
          </div>
        </div>
      </div>
    </div> -->