<h4>
  {{name}}</h4>

<ng-container *ngIf="showProducts">
  <button class="btn btn-primary" (click)="openEditProduct(product,createProducts)">
    Agregar
  </button>
</ng-container>

<ng-container *ngIf="showCategories">
  <button class="btn btn-primary" (click)="openEditCategory(category,createCategories)">
    Agregar
  </button>
</ng-container>

<ng-container *ngIf="showUsers">
  <button class="btn btn-primary" (click)="openEditUser(user,createUsers)">
    Agregar
  </button>
</ng-container>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of tableColumns" scope="col">{{col}}</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngIf="showProducts">
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category_name}}</td>
        <td>{{product.price}}</td>
        <td>
          <button class='btn btn-link' (click)="openEditProduct(product,editProducts)">Editar</button> |
          <button class='btn btn-link' (click)="openDeleteProduct(product,deleteProducts)">Eliminar</button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="showCategories">
      <tr *ngFor="let cat of categories">
        <td>{{cat.name}}</td>
        <td>{{cat.description}}</td>
        <td>
          <button class='btn btn-link' (click)="openEditCategory(cat,editCategories)">Editar</button> |
          <button class='btn btn-link' (click)="openDeleteCategory(cat,deleteCategories)">Eliminar</button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="showUsers">
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
          <button class='btn btn-link' (click)="openEditUser(user,editUsers)">Editar</button> |
          <button class='btn btn-link' (click)="openDeleteUser(user,deleteUsers)">Eliminar</button>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>


<!-- Modals -->

<!-- Create PRODUCT Modal -->

<ng-template #createProducts let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creación</h4>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Imagen</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.image" [ngModelOptions]="{standalone: true}">
          </div>
      </div>
        
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Categoría</label>
        <div class="col-sm-10">
          <select class="form-control" id="formSelect"  [(ngModel)]="newProduct.category_name" [ngModelOptions]="{standalone: true}" >
            <option *ngFor="let cat of categories">{{cat.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveProduct()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
  
</ng-template>

<!-- Edit PRODUCT Modal -->
<ng-template #editProducts let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edición</h4>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.image" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Categoría</label>
        <div class="col-sm-10">
          <select class="form-control" id="formSelect" [(ngModel)]="newProduct.category_name" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let cat of categories">{{cat.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editProduct()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>

<!-- Delete PRODUCT Modal  -->

<ng-template #deleteProducts let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminación</h4>
  </div>
  <div class="modal-body">
    <p>¿Está seguro que desea eliminar el producto {{newProduct.name}} ?</p>
    <p>Esta acción no se podrá deshacer</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteProduct()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>


<!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->



<!-- Create CATEGORY Modal -->

<ng-template #createCategories let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creación</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" [(ngModel)]="newCategory.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="newCategory.description" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveCategory()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
  
</ng-template>

<!-- Edit PRODUCT Modal -->
<ng-template #editCategories let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edición</h4>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" [(ngModel)]="newCategory.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="newCategory.description" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editCategory()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>

<!-- Delete PRODUCT Modal  -->

<ng-template #deleteCategories let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminación</h4>
  </div>
  <div class="modal-body">
    <p>¿Está seguro que desea eliminar la categoría {{newCategory.name}} ?</p>
    <p>Esta acción no se podrá deshacer</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteCategory()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>



<!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- Create USER Modal -->

<ng-template #createUsers let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creación</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" [(ngModel)]="newUser.password" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveUser()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
  
</ng-template>

<!-- Edit USER Modal -->
<ng-template #editUsers let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edición</h4>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" [(ngModel)]="newUser.password" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editUser()">Grabar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>

<!-- Delete USER Modal  -->

<ng-template #deleteUsers let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminación</h4>
  </div>
  <div class="modal-body">
    <p>¿Está seguro que desea eliminar el usuario {{newUser.name}} ?</p>
    <p>Esta acción no se podrá deshacer</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteUser()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>

